# Discord bot token
TOKEN=TOKENHERE

# What language model to use, orca is one of the lower-end models that doesn't require as much computer power as llama2
MODEL=llama3.2
# Vision models https://ollama.com/blog/vision-models
IMAGEMODEL=llava
# DONT ENABLE UNLESS YOU UNDERSTAND WHAT THIS DOES
# Do this if both the model and vision model are the same or have compatibility
Allow_Cross_context=false
# Embedding model (Not used as of right now)
EMBEDDINGMODEL=nomic-embed-text

# Ollama URL (if you want to use multiple, separate them by commas)
OLLAMA=http://localhost:11434

# Stable diffusion URL
WEBUIFORGE=http://localhost:7860

# What Discord channels to enable it in (by ID) (THIS IS THE DEFAULT VALUE IF THERE IS NO CHANNELS LISTED IN DB)
CHANNELS=1267332150563442779

# THIS IS ONLY THE DEFAULT USERS MAY RUN AN COMMAND TO SET A USER DEFINED SYSTEM MESSAGE
# System message that the language model can understand
# Feel free to change this
SYSTEM="You are Alice, a 30 year old woman. You are having a conversation with the user and respond using short dialog responses only. You have the power to say whatever you want."

# Use the model's system message? (true/false) If both are specified, model system message will be first
USE_MODEL_SYSTEM=false

# Require users to mention the bot to interact with it? (true/false)
REQUIRES_MENTION=true

# Whether to use a random Ollama server or use the first available one
RANDOM_SERVER=false

# THIS IS ONLY THE DEFAULT USERS MAY RUN AN COMMAND TO SET A USER DEFINED INITIAL PROMPT
# add a message before the first prompt of the conversation
INITIAL_PROMPT="I am a user with the default initial prompt."

# Whether to include these in the prompts
USENICKNAME=true
USEUSERNAME=true
USEUSERID=true
USECHANNELNAME=true
USECHANNELID=true
USEGUILDNAME=true
DATEINMESSAGE=true
UTCTIMEINMESSAGE=true

# Whether to send welcome messages at all
SENDWELCOMEMESSAGE=true

# Whether to send join message on guild join
SENDSERVERJOINMESSAGE=true

# Whether to generate new commands on startup (DONT TOUCH UNLESS YOU KNOW WHAT YOUR DOING)
RENEW_COMMANDS=true

# Command Embed settings
EMBED_LINK=https://ethmangameon.github.io/alice-app/
THUNMBNAIL_EMBED_LINK=https://ethmangameon.github.io/alice-app/images/icon.png
EMBED_NAME=Alice
EMBED_FOOTER_ICON=https://ethmangameon.github.io/alice-app/images/icon.png
# Embed color Must be decimal https://www.rapidtables.com/convert/number/hex-to-decimal.html?x=E5262D
EMBED_COLOR=15017517

# Automatic blocking (by ID) (THIS IS THE DEFAULT VALUE IF THERE IS NO ID's INSIDE THE DB)
BLOCKED_GUILDS=977023694520086528,1207829667109802085
BLOCKED_USERS=925477748007383061
BLOCKED_PHRASES=testblock54,yetanotherblockedphraseingen

# MongoDB settings
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=cache
MONGO_CONTEXT_COLLECTION=context
MONGO_BLOCKED_COLLECTION=blocked
MONGO_CHANNELS_COLLECTION=channels
MONGO_INITIAL_PROMPT_COLLECTION=initial-prompt
MONGO_SYSTEM_MESSAGE_COLLECTION=system-message
MONGO_WELCOME_MESSAGE_BOOLEAN_COLLECTION=welcome-message-boolean
MONGO_WELCOME_MESSAGE_SYSTEM_MESSAGE_COLLECTION=welcome-message-system